.Header
{
	width: 80%;
	background-color: rgb(93%, 93%, 93%);
	font-size: 24px;
	margin-bottom: 30px;
	margin-left: 30px;
}

body
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
}

.Footer
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	margin-left: 30px;
	font-style:italic;
}


.CorrectAnswer
{
	color: green;
}


.HeaderText
{
	color: #3366CC;	
	margin-right: 20px;
}

.WelcomeLeft
{
	width: 30%;
}

.WelcomeRight
{
	width: 70%;
}

.MainContent
{
	margin-left: 30px;
	width: 80%;
}
